{%- extends "zluinav/templates/base.html" %}
{%- block extrahead %}
{{- super() }}
<script src="{{ get_url(path = "scripts/functions.js") }}"></script>
<script src="{{ get_url(path = "scripts/footer.js") }}"></script>
{%- endblock extrahead %}
{%- block footer %}
<aside>
<h2>Useful Links</h2>
<a href="{{ get_url(path = "changelog") }}">Change Log</a>
<a target="_blank" href="https://t.me/harrymktg">Developer's official Telegram Channel</a>
</aside>
<script>addfooter();</script>
{%- endblock footer %}