{{- $id := .Get "id" | safeJS }}
{{- $file := .Get "file" | safeJS}}
<script>
const {{ printf "%s" $id | safeJS }} = document.getElementById("{{ printf "%s" $id | safeJS }}");
if ({{ printf "%s" $id | safeJS }}) {
	get_gh_asset_info("harrymkt", "mgh", "{{ $file}}").then(t => {
		{{ printf "%s" $id | safeJS }}.textContent = `Download count: ${t.download_count}`;
		totaldownload += t.download_count;
		document.getElementById("totaldownload").textContent = `Total downloads for the latest version: ${totaldownload}`;
	});
}
</script>